<div class= "container">
  <header class= "jumbotron">
    <h1>The Hike Life</h1>
  </header>
    {{outlet}}
  <footer>
    <hr>
    {{#link-to 'index'}}Home{{/link-to}}
    <br>
    {{#link-to 'blog'}}Blogs{{/link-to}}
    <br>
    {{#link-to 'trail'}}Trails{{/link-to}}
    <br>
    {{#link-to 'about'}}About{{/link-to}}
    <br>
    {{#link-to 'contact'}}Contact{{/link-to}}
  </footer>
</div>
